<nav class="d-flex flex-column p-3 bg-dark text-white min-vh-100">
    <h4 routerLink="/private/dashboard" routerLinkActive="active" class="mb-4 text-white pointer">
        <i class="bi bi-calendar-check"></i> Project Asist
    </h4>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item mb-2 text-uppercase">
            <a routerLink="/private/student" routerLinkActive="active" class="nav-link text-white ">
                Estudiante
            </a>
        </li>
        <li class="nav-item mb-2 text-uppercase">
            <a routerLink="/private/teacher" routerLinkActive="active" class="nav-link text-white ">
                Profesores
            </a>
        </li>
        <li class="nav-item mb-2 text-uppercase">
            <a routerLink="/private/preceptor" routerLinkActive="active" class="nav-link text-white ">
                Preceptor
            </a>
        </li>
        <li class="nav-item mb-2 text-uppercase">
            <a routerLink="/private/info" routerLinkActive="active" class="nav-link text-white ">
                Estadísticas
            </a>
        </li>
    </ul>
</nav>