:host {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    :host {
        flex: 0 0 auto;
        width: 16.666667%;
    }
}

.pointer {
    cursor: pointer;
}

.nav-link.active {
    background-color: #0d6efd;
    /* Color azul de Bootstrap */
    border-radius: .25rem;
}