<div class="d-flex align-items-center justify-content-between supnav px-3">

    <h2 class="text-black mb-0">{{ pageTitle }}</h2>

    <div class="d-flex align-items-center gap-3">
        <div class="d-flex align-items-center gap-2 user-info">
            <i class="bi bi-person-circle fs-4 text-secondary"></i>
            <span class="fw-semibold text-dark">{{ userName }}</span>
        </div>
        <button type="button" class="btn btn-danger" (click)="logout()">salir</button>
    </div>

</div>