:root {
    --ash-gray: rgba(233, 233, 233, 0.829);
    --air-force-blue: #598392ff;
    --rich-black: #01161eff;
    --beige: #eff6e0ff;
    --midnight-green: #124559ff;
}

body {
    min-height: 100vh;
}

.sidebar {
    background-color: var(--midnight-green);
    min-height: 100vh;
    color: white;
}

.main-content {
    background-color: var(--ash-gray);
    padding: 20px;
}

.block {
    background-color: #ffffff;
    height: 150px;
    border-radius: 5px;
}

.supnav {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 10%;
    padding: 15px;
}

.pointer {
    cursor: pointer;
}

.a {
    color: black;
}