.bg-light {
    background-color: #f8f9fa !important;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background: #ffffff;
}

.card:hover {
    transform: translateY(-5px);
}

.badge {
    font-size: 0.7rem;
    padding: 2px 6px;
}