<main class="container-fluid my-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Enviar Mensaje</h2>
                    <hr>
                    <div class="d-flex my-2">
                        <label class="form-label gap-2">Destino:</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">

                        <select class="form-select selec bg-dark text-light">
                            <option selected disabled>Profesor:</option>
                            <option value="">...</option>
                        </select>
                        <select class="form-select selec bg-dark text-light">
                            <option selected disabled>Preceptor:</option>
                            <option value="">...</option>
                        </select>
                        <select class="form-select selec bg-dark text-light">
                            <option selected disabled>Alumnos:</option>
                            <option value="">...</option>
                        </select>
                    </div>
                    <hr>
                    <div class="d-flex my-2">
                        <label class="form-label gap-2">Mensaje:</label>
                    </div>
                    <div class="d-flex my-3">
                        <div class="p-2 col-12">
                            <textarea placeholder="Redactar mensaje..." class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="d-flex my-2">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inscripciones -->

        <div class="col-12 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Inscripciones</h2>
                    <hr>
                    <table class="table table-striped" *ngIf="carreras">
                        <thead class="table-dark">
                            <tr>
                                <th style="width: 200px;">Carrera</th>
                                <th>Materias</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let carrera of carreras | keyvalue">
                                <td>{{ carrera.key }}</td>
                                <td>
                                    <span *ngFor="let m of carrera.value.materias; let i = index">
                                        <span class="badge bg-success me-1">{{ m.matNombre }}</span>
                                    </span>
                                </td>
                                <td>
                                    {{ carrera.value.fecha }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>